uric_api/uric_api/settings/__pycache__/dev.cpython-38.pyc
uric_api/uric_api/apps/host/utils/__pycache__/ssh.cpython-38.pyc
uric_api/uric_api/apps/host/__pycache__/serializers.cpython-38.pyc
uric_api/logs/uric.log

