channels==3.0.0
Django==3.2
django-cors-headers==3.0.0
django-simpleui==2023.12.12
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
paramiko==3.4.0
pillow==10.2.0
PyMySQL==1.1.0
simpleui==4.0.2
django-utils-six
xlwt
xlrd

